<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njit.infoshareserve.mapper.LabelMapper">

    <resultMap id="BaseResultMap" type="com.njit.infoshareserve.bean.Label">
            <id property="labelid" column="labelId" jdbcType="INTEGER"/>
            <result property="labelname" column="labelName" jdbcType="VARCHAR"/>
            <result property="category2id" column="category2Id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        labelId,labelName,category2Id
    </sql>

    <!--    List<Label> selectLabelsByIds(List<Integer> idList);-->
    <select id="selectLabelsByIds" resultType="com.njit.infoshareserve.bean.Label">
        select * from label where labelId in
        <foreach collection="list" item="labelId" open="(" close=")" separator=",">
            #{labelId}
        </foreach>
    </select>
</mapper>
