<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njit.infoshareserve.mapper.WatchMapper">

    <resultMap id="BaseResultMap" type="com.njit.infoshareserve.bean.Watch">
            <id property="userid" column="userId" jdbcType="INTEGER"/>
            <id property="setid" column="setId" jdbcType="INTEGER"/>
            <result property="watchlocation" column="watchLocation" jdbcType="VARCHAR"/>
            <result property="watchtime" column="watchtime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        userId,setId,watchLocation,
        watchtime
    </sql>
</mapper>
